---
import SimplePageHeader from "../../components/SimplePageHeader.astro";
import { getRoadmapAlmacenados } from "../../database/consultas";
import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/formulario.css';

const roadmaps = await getRoadmapAlmacenados();
const roadmapsNames = roadmaps?.map((roadmap) => roadmap.idRoadmap);

console.log("roadmapak", roadmaps);
---

<BaseLayout title="Onboarding" permalink={'/modificar/escogerRoadmap'}>
  <SimplePageHeader
    title="Selecciona el itinerario"
    description="Selecciona el roadmap que deseas modificar"
  />

<form method="GET" class="form-container" action="/modificar/modifyRoadmap">
  <fieldset>
    <legend>¿Qué deseas modificar?</legend>
    <label for="roadmap">Selecciona el roadmap que deseas modificar:</label>
    <input type="hidden" id="roadmapR" name="id"> <!-- Asegúrate de usar "id" -->
    <input type="text" id="input-box" placeholder="Buscar roadmap" autocomplete="off">

    <div id="custom-dropdown" class="custom-dropdown">
      <ul id="dropdown-options" class="dropdown-options">
        {roadmapsNames?.map((roadmap: string) => (
          <li value={roadmap}>{roadmap}</li>
        ))}
      </ul>
    </div>
  </fieldset>
  <div class="button-container">
    <button type="submit">Next</button>
  </div>
</form>



  <script>
    import { setupDropdown } from '../../utils.js';

    // Configuración del dropdown
    setupDropdown('input-box', 'custom-dropdown', 'roadmapR');
  </script>
</BaseLayout>
